#include <windows.h> // include for version info constants

1 VERSIONINFO
FILEVERSION 0,8,2,8477
PRODUCTVERSION 0,8,2,8477
FILETYPE VFT_APP {
	BLOCK "StringFileInfo" {
		BLOCK "040904E4" {
			VALUE "CompanyName", "eDavid"
			VALUE "FileVersion", "0.8 beta 2"
			VALUE "FileDescription", "Fugenschnitzer - Seam Carving Library"
			VALUE "InternalName", "seamcarv"
			VALUE "LegalCopyright", "(C) 2008/9 David Eckardt. Licensed under the terms and conditions of the GNU LGPL 3."
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", "seamcarv.dll"
			VALUE "ProductName", "Fugenschnitzer"
			VALUE "ProductVersion", "0.8 beta 2"
			VALUE "WWW", "http://fugenschnitzer.sourceforge.net"
		}
	} BLOCK "VarFileInfo" {
		VALUE "Translation", 0x0409, 1252
	}
}